body {
	/*The # color values are hexadecimal 
	values*/
	background-color: #efecca;
	padding: 0;
	margin: 0;
}

/*targetting an id*/
#header {
	background-color: #002f2f;
	padding: 15px;
	font-size: 24px;
}

#header_navs {
	float: right;
}

#header a {
	margin: 0 25px;
}

/*targetting a hyperlink inside an id (header)*/
#header a {
	color: #fff;
	text-decoration: none;
}

#intro {
	background-color: #e6e2af;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}

#intro h1 {
	margin: 0;
}

/*The portfolio section*/
#portfolio {
	max-width: 1000px;
	margin: 0 auto;
}

/*target classes with periods*/
.portfolio_piece {
	background: #046380;
	width: 98%;
	float: left;
	margin: 1%;
}

@media (min-width: 650px) {
	.portfolio_piece {
		width: 48%;
		margin: 1%;
	}
}

@media (min-width:1000px) {
	.portfolio_piece {
		width: 23%;
		margin: 1%;
	}
}

.portfolio_piece h3 {
	color: #efecca;
	margin: 0;
	padding: 5px;
	text-align: center;
	transition: .5s all;
}

.portfolio_piece a:hover h3 {
	background-color: white;
	color: black;
}

.portfolio_piece a {
	text-decoration: none;
	/* Comment goes in here */
}

.portfolio_piece img {
	display: block;
	width: 100%;
}